{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "jsxSingleQuote": true
}
